%table
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.title, article
        %td= article.body
        %td= image_tag article.picture_url, alt: article.picture, width: '50%', height: 'auto'
%br/