.footer
  .footer-top
    .wrap
      .section.group
        .col_1_of_3.span_1_of_3
          %h3 About Us
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.btn1.btn-8.btn-8b Learn more
          %h4 Photo Stream
          .gallery
            %ul
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g1.jpg"}/
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g2.jpg"}/
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g3.jpg"}/
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g4.jpg"}/
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g5.jpg"}/
              %li
                %a.popup-with-zoom-anim{:href => "#small-dialog1"}
                  %img{:alt => "", :src => "/assets/g6.jpg"}/
              #small-dialog1.mfp-hide
                .pop_up
                  %h2 A Sample Photo Stream
                  %img{:alt => "", :src => "/assets/g_zoom.jpg"}/
        .col_1_of_3.span_1_of_3
          %h3 Latest tweets
          .footer-list
            %ul
              %li
                %img{:alt => "", :src => "/assets/tw.png"}/
                %p
                  Lorem ipsum
                  %span.yellow
                    %a{:href => "#"} consectetuer
                  adipiscing elit, seddia
                  %br/
                  %span.small  web design
                .clear
              %li
                %img{:alt => "", :src => "/assets/tw.png"}/
                %p
                  Lorem ipsum
                  %span.yellow
                    %a{:href => "#"} consectetuer
                  adipiscing elit, seddia
                  %br/
                  %span.small  web design
                .clear
              %li
                %img{:alt => "", :src => "/assets/tw.png"}/
                %p
                  Lorem ipsum dolor sit amet,
                  %span.yellow
                    %a{:href => "#"} consectetuer
                  adipiscing elit, sed diam nonummy nibh
                  %br/
                  %span.small  web design
                .clear
              %li
                %img{:alt => "", :src => "/assets/tw.png"}/
                %p
                  Lorem ipsum dolor sit amet,
                  %span.yellow
                    %a{:href => "#"} consectetuer
                  adipiscing elit, sed diam nonummy nibh
                  %br/
                  %span.small  web design
                .clear
              %li
                %img{:alt => "", :src => "/assets/tw.png"}/
                %p
                  Lorem ipsum
                  %span.yellow
                    %a{:href => "#"} consectetuer
                  adipiscing elit, seddia
                  %br/
                  %span.small  web design
                .clear
          .social-icons
            %h4 Social Connecting
            %ul
              %li.facebook
                %a{:href => "#"}
                  %span
              %li.google
                %a{:href => "#"}
                  %span
              %li.twitter
                %a{:href => "#"}
                  %span
              %li.linkedin
                %a{:href => "#"}
                  %span
              %li.youtube
                %a{:href => "#"}
                  %span
              %li.bloger
                %a{:href => "#"}
                  %span
              %li.rss
                %a{:href => "#"}
                  %span
              %li.dribble
                %a{:href => "#"}
                  %span
        .col_1_of_3.span_1_of_3
          %h3 Contact info
          .footer-list
            %ul
              %li
                %img{:alt => "", :src => "/assets/address.png"}/
                %p
                  Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh
                  %br>/
                   Bandung Coffee Festival
                .clear
              %li
                %img{:alt => "", :src => "/assets/phone.png"}/
                %p
                  Phone: +1 800 258 2689
                  %br>/
                              +1 800 258 2689
                .clear
              %li
                %img{:alt => "", :src => "/assets/msg.png"}/
                %p
                  Email:
                  %span.yellow
                    %a{:href => "#"} info(at)BandungCoffeeFestival.com
                .clear
          .follow
            %h4 Follow Us
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            .search
              %form
                %input{:type => "text", :value => ""}/
                %input{:type => "submit", :value => ""}/
        .clear
  .footer-bottom
    .wrap
      .copy
        %p.copy
          © 2014 Template by
          %a{:href => "#", :target => "_blank"} Bandung Coffee Festival
      .footer-nav
        %ul
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => portofolio_path} Gallery
          %li
            %a{:href => about_path} About Us
          %li
            %a{:href => contact_path} Contact
      .clear
