.content-bottom
  %h2
    %span
      Partners
      %p Sponsors and Media Partnership by
      %ul#flexiselDemo3
        %li
        %img{:src => "assets/client1.jpg"}/
        %li
          %img{:src => "assets/client2.jpg"}/
        %li
          %img{:src => "assets/client3.jpg"}/
        %li
          %img{:src => "assets/client4.jpg"}/
        %li
          %img{:src => "assets/client5.jpg"}/
        %li
          %img{:src => "assets/client6.jpg"}/
        %li
          %img{:src => "assets/client7.jpg"}/