.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => " "}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 1.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 2.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 6.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 4.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 5.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 3.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 7.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 8.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 14.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 10.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 11.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear
.portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/bandung_coffe 12.jpg"}/
    .links
      %h4
        %a{:href => ""} Bandung Coffee Festival
      .clear