.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => " "}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6299.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6301.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.iobc-presscon.mix_all{"data-cat" => "iobc-presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6330.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.iobc-presscon.mix_all{"data-cat" => "iobc-presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6335.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.iobc-presscon.mix_all{"data-cat" => "iobc-presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6365.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6380.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6394.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6396.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6420.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6428.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6435.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6441.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6449.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6465.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6469.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6484.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6498.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6509.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6520.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6523.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6527.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6541.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6543.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6546.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6550.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6553.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6560.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6563.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6578.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6581.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6597.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6623.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear
.portfolio.presscon.mix_all{"data-cat" => "presscon", :style => "  display: inline-block; opacity: 1;"}
  .portfolio-wrapper
    %a{:href => "#"}
      %img{:alt => "bandungcoffee", :src => "/assets/presscon/IMG_6631.JPG"}/
    .links
      %h4
        %a{:href => ""} Presscon
      .clear