.banner
  .wrap
    %h2 About Us
    .clear
.main
  .project-wrapper
    .wrap
      .section.group
        .cont.span_2_of_about
          %p
            The Bandung Coffee Festival is the industry’s top-performing show, consistently providing visitors with relevant information to hone their coffee business skills and up their bottom line, including coffee farmers and manufacturers and service companies the face to face opportunities to build their businesses. This is an annual event to celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
          %br/
          %br/
          %p
            The Bandung Coffee Festival promises to be an unmissable event for discerning coffee lovers and those working in the coffee scene. Buyers and sellers are more than welcome.
          %br/
          %br/
          %h5 The event will be held :
          %br
          %h5 BANDUNG COFFEE FESTIVAL 2014
          %h5 Date : 5-6 November 21040
          %h5 Venue : Gedung Moh. Toha, Kompleks Pemda Kabupaten Bandung, Soreang, West Java
          %br/
          %br/
          %p
            From harvesting to brewing and artisan catering to equipment, this show will showcase every aspect of the coffee world and all the enjoyment that goes with it. The festival will feature over 25 coffee estates at Kabupaten Bandung District coffee, coffee shops, long business hours, coffee competition, coffee auctions, and gourmet food stalls, tastings and demonstrations from baristas, interactive workshops, and many more.
          %br/
          %br/
          %p
            The Bandung Coffee Festival is a collaboration of Department fo Agriculture, Plantation and Forestry Kabupaten Bandung and #{ link_to "Morning Glory Coffee Academy", "http://mgcoffeeacademy.com/"}
          %br/
          %br/
          %center
            %img{:src => "../assets/logo-mg.png"}/
          %p
            #{ link_to "Morning Glory Coffee Academy", "http://mgcoffeeacademy.com/"} is a well-known coffee education center in Indonesia. All of our courses have been accredited by Specialty Coffee Association of Europe (SCAE). The Professional-Based Certificates will allow participants to demonstrate specified knowledge, skill competency and networking in the coffee industries. MG Coffee Academy develops a super fun learning process. We believe on practical aspects. You will be brought to the next level of attitude, skill and knowledge. More Information check on our website #{ link_to "here", "http://mgcoffeeacademy.com/"}.
        .clear
