.banner
  .wrap
    %h2 COFFEE COMPETITION & AUCTION
  .clear
.main
  .project-wrapper
    .wrap
      .section.group
        .cont.span_2_of_about
          %br
          %br
          %p
            In this event, there will be more than 20 profiles of coffee ready for cupping at the coffee competition.
          %p
            These coffee were produce at Kabupaten Bandung area's Estates which famous of its unique fruity flavour. We will perform a transparent auctions who will benefit the farmers. Most of the coffee auctions are for next years harvesting but a few samples are ready for you during the event. Micro auction is applied.
          %br
          %br
          %p
            The coffee competition and business hour for auction is on the first day of the event, 5 November 2014, starts at 10.00-12.00AM and continue at 14.00-16.00.
          %br
          %br
          %p
            for register yourself as a buyer,  
            %a{:href => ""}
            %img.klik{:src => "../assets/click.png"}/
          %br
          %br
            \----
          %br
          %p
            Business hours is when the coffee buyers all over the world taste and bid for coffee. The hours contain coffee competition from many estates and auction session. Newest world standard of coffee tasting will be applied. Our business hours will provide you the opportunity to join the coffee auctions. 
          %p
          %br
            Please register as a buyer :
            %a{:href => ""}
            %img.klik{:src => "../assets/click.png"}/
            or email us :
          %strong
            %i info@bandungcoffeefestival.com
          %br
          %br
          %p
            If you are an international buyer, our VIP services will provide you a free airport transfers (From Bandung Hussein Sastranegara Int Airport), daily suttles from hotel to venue and assistance for hotels and many interesting places around Bandung area.
          %br
          %br
        .clear