.main
  .project-wrapper
    .wrap
      .section.group
        .cont.span_2_of_about
          %h2 BANDUNG COFFEE FESTIVAL
          %h3bWelcome to the first ever Bandung Coffee Festival
          %br
          %br
          29-30 October 2014
          %br
          Gedung Moh. Toha
          %br
          Kompleks Pemkab Bandung
          %br
          Soreang - West Java
          %br
          %br
          The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
          %br
          %br
          The Bandung Coffee Festival promises to be an unmissable event for discerning coffee lovers and those working in the coffee scene. Buyers and sellers are more than welcome.
          %br
          %br
          From harvesting to brewing and artisan catering to equipment, this show will showcase every aspect of the coffee world and all the enjoyment that goes with it. The festival will feature over 25 coffee estates at Kabupaten Bandung District coffee, coffee shops, long business hours, coffee competition, coffee auctions, and gourmet food stalls, tastings and demonstrations from baristas, interactive workshops, and many more.
          %br
          %br
          %br ----
          %br
          %br
          %br
          IOBC - The 2nd International Open Barista Championship
          Held in 2011, First IOBC was a great success. The champhion went to Italy to visited La Marzocco's factory and did a coffee tour.
          %br
          %br
          The 2nd IOBC will be held on the 30 October 2014 in conjuction with Bandung Coffee Festival.
          %br
          The IOBC is the international coffee competition focuses on promoting excellence in coffee, advancing the barista profession, and engaging audiences with a championship event that serves as the culmination of local and regional events around the globe.
          %br
          %br
        .clear