.banner
  .wrap
    %h2 Event
    .clear
.main
  .project-wrapper
    .wrap
      .section.group
          %center
            .left-text
              %p
                WEDNESDAY, 5 November 2014
              %br/
              %p
                08.00 - 09.00    Preparation
              %p
                09.00 - 10.00    Opening Ceremony by Bupati Bandung
              %p
                10.00 - 12.00    Business Hour I (Coffee COmpetition & Coffee Auctions-Microlot 100kg)
              %p
                12.00 - 13.00 Lunch Break
              %p
                13.00 - 16.00    BUsiness Hour II (Coffee COmpetition & Coffee Auctions)
              %br/
              %p *exhibition will be held for the whole day, public are welcome.
              %br/
              %p
                THURSDAY, 6 November 2014
              %p
                09.00 - 16.00    Barista Championship (At venue)
              %p
                09.00 - 16.00    Coffee Workshop (At Sutan Raja Hotel - Soreang)
              %br/
              %p *exhibition will be held for the whole day, public are welcome.
              %br/
              %br/
        .clear