.banner
  .wrap
    %h2 FLOOR PLAN
    .clear
.main
  .project-wrapper
    .wrap
      .section.group
        .cont.span_2_of_about
          %img.layout{:alt => "Layout", :src => "../assets/layout-mini.png"}/
          %img.logosm{:alt => "Layout", :src => "../assets/logo-date-sm.png"}/
          %a{:href => ""}
            %img.download{:src => "../assets/downloadfloorplan.png"}/
        .clear