.main-none
  .project-wrapper
    .wrap
      .section.group
        .cont.span_2_of_about
          %h2 BANDUNG COFFEE FESTIVAL
          %h3
            %strong What is Bandung Coffee Festival?
            %br/
            %br/
            %br/
            The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
            %br/
            %br/
            %br/
            %strong Apa itu Bandung Coffee Festival?
            %br/
            %br/
            The Bandung Coffee Festival
            %i adalah rangkaian acara festival kopi untuk merayakan kebangkitan kopi jawa Barat. Acara ini didedikasikan untuk penikmat dan pebisnis kopi di Indonesia dan seluruh dunia.
            %br/
            %br/
            %br/
            %strong Is it free?
            %br/
            %br/
            Yes it is.
            %br/
            %br/
            %br/
            %strong Apakah acaranya gratis?
            %br/
            %br/
            Iya, acara ini tidak dipungut bayaran.
            %br/
            %br/
            %br/
            %strong When and Where?
            %br/
            %br/
            The 1st Bandung Coffee Festival will be held from 29-30 October 2014 at Gedung Moh Toha, Kompleks Pemkab Bandung, Soreang.
            %br/
            %br/
            %br/
            Public Opening hour : 9AM-16PM
            %br/
            %br/
            Business hour : 10AM-12AM and 14PM-16PM (daily)
            %br/
            %br/
            Coffee Workshops will be held on the 2nd day (30 October 2014) at Sultan Raja Hotel from 9AM- 16AM.
            %br/
            %br/
            Coffee Plantation Tour : 30 October 2014, starts at 9AM (by request)
            %br/
            %br/
            %br/
            %strong Kapan dan dimana?
            %br/
            %br/
            Acara yang pertama kali diselenggarakan ini akan diadakan di Gedung Moh Toha, Soreang - Kabupaten Bandung.
            %br/
            %br/
            %br/
            Waktu buka : 9.00-16.00WIB
            %br/
            %br/
            Waktu Khusus Bisnis : 10.00-12.00WIB dan 14.00-16.00WIB setiap hari.
            %br/
            %br/
            Waktu Workshop : diselenggarakan pada tanggal 30 Oktober 2014 di Hotel Sultan Raja Soreang pada pukul 09.00-16.00 WIB.
            %br/
            %br/
            %br/
            %strong Why Soreang, Kabupaten Bandung?
            %br/
            %br/
            We are keen to bring coffee to its own land. Kabupaten Bandung is a beautiful district at the south-side of Bandung area which produces the one of best coffee in the world. Famous with its Arabica Java Preanger Coffee, The district-government of Kabupaten Bandung has been developed a fabulous farmers-centered coffee business.
            %br/
            %br/
            %br/
            %strong Mengapa diselenggarakan di Soreang, Kab. Bandung?
            %br/
            %br/
            Kami ingin membawa kopi kembali ke asalnya, yaitu petani. Kabupaten Bandung sudah sangat terkenal sebagai penghasil kopi arabika yang berkualitas. Jadi, Soreang adalah tempat yang tepat untuk merasakan atmosfir kopi dan segala keindahannya.
            %br/
            %br/
            %br/
            %strong What is Business hours?
            %br/
            %br/
            Business hours is when the coffee buyers all over the world taste and bid for coffee. The hours contain coffee competition from many estates and auction session. Newest world standard of coffee tasting will be applied.
            %br/
            %br/
            %br/
            %strong Mengapa ada business hour?
            %br/
            %br/
            Business hour ada untuk mengakomodir pembeli kopi yang ingin mengikuti lelang kopi. Pada sesi ini akan diimplementasikan standar internasional coffee tasting dan pelelangan kopi.
            %br/
            %br/
            %br/
            %strong I want to buy lots of coffee, what should I do?
            %br/
            %br/
            Our business hours will provide you the opportunity to join the coffee auctions. Please register as a buyer : here or email us : info@bandungcoffeefestival.com
            %br/
            %br/
            %br/
            If you are an international buyer, our VIP services will provide you a free airport transfers (From Bandung Hussein Sastranegara Int Airport), daily suttles from hotel to venue and assistance for hotels and many interesting places around Bandung area.
            %br/
            %br/
            %br/
            %strong Can I smoke?
            %br/
            %br/
            No. Unfortunately, there won't be any smoking areas within the building.
            %br/
            %br/
            %br/
            %strong How can I participate as a sponsor?
            %br/
            %br/
            Bandung Coffee Festival has huge opportunities for all corporate who deal with coffee to participate.
            %br/
            = succeed "Contact" do
              %br/
            %br/
            %br/
        .clear
