.banner
  .wrap
    %h2 Gallery
    .clear
.main
  .portfolio-top
    .wrap
      %h3 Welcome to the first ever Bandung Coffee Festival
      %h5 The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
  .container
    %ul#filters.clearfix
      %li
        %span.filter.active{"data-filter" => "bcf iobc"} Bandung Coffee Festival
      %li
        %span.filter{"data-filter" => "presscon iobc-presscon"} Presscon
    .clear
    #portfoliolist{:style => ""}
      .wrapper
        #gallery
          = render "gallery_all"
          = render "presscon_gallery"
        .clear