.banner
  .wrap
    %h2 IOBC
    .clear
.main
  .project-wrapper
    .wrap
      .section.group
        %center
          %iframe{width: '640', height: '360', src: '//www.youtube.com/embed/FBmRQmP7jGg?feature=player_detailpage', frameborder: "0", allowfullscreen: 'allowfullscreen', align: "middle"}
      .cont.span_2_of_about.iobc
        The 2nd
        %strong IOBC
        will be held on the 6 November 2014 (2nd day) in conjuction with Bandung Coffee Festival.
        %br
        The
        %strong IOBC
        is the international coffee competition focuses on promoting excellence in coffee, advancing the barista profession, and engaging audiences with a championship event that serves as the culmination of local and regional events around the globe.
        %br
        %h4 If you're a barista, join the competition : #{link_to "here", new_baristum_path}
        %h4 Download the rules and regulation : #{link_to "here", "#"}
      .clear