.banner
  .wrap
    %h2 Indonesia Open Barista Challenge 2014
    .clear
.main
  .project-wrapper
    .wrap
      .section.group
        .col_1_of_2.span_1_of_6{style: "margin-right: 3%"}
          %iframe{width: '640', height: '360', src: '//www.youtube.com/embed/FBmRQmP7jGg?feature=player_detailpage', frameborder: "0", allowfullscreen: 'allowfullscreen', align: "middle"}
        .col_1_of_6.span_1
          The 2nd
          %strong BARISTA CHAMPIONSHIP
          will be held on the 6 November 2014 (2nd day) in conjuction with Bandung Coffee Festival.
          %br
          %br
          %p
            The IOBC is the international coffee competition focuses on promoting excellence in coffee, advancing the barista profession, and engaging audiences with a championship event that serves as the culmination of local and regional events around the globe. 
          %br
          %p If you're a barista, join the competition : 
          %a{:href => ""}
            %img{:src => "../assets/click.png"}/
          %br
          %p Calibration session will be held on 3 November 2014, 10.00AM at MG COFFEE ACADEMY, Setrasari Mall kav C2 no 31, Jl. Prof. Dr. Ir. Soetami, Bandung - West Java, Indonesia
        .clear
/ .content-bottom
/   %h2
/     %span Partners
/   %p Sponsors and Media Partnership by
/   %ul#flexiselDemo3
/     %li
/       %img{:src => "/assets/client1.jpg"}
/     %li
/       %img{:src => "/assets/client2.jpg"}
/     %li
/       %img{:src => "/assets/client3.jpg"}
/     %li
/       %img{:src => "/assets/client4.jpg"}
/     %li
/       %img{:src => "/assets/client5.jpg"}
/     %li
/       %img{:src => "/assets/client6.jpg"}
/     %li
/       %img{:src => "/assets/client7.jpg"}
/     %li
/       %img{:src => "/assets/client8.jpg"}