.banner
  .wrap
    %h2 Gallery
    .clear
.main
  .portfolio-top
    .wrap
      %h3 Welcome to the first ever Bandung Coffee Festival
      %h5 The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.
  .container
    %ul#filters.clearfix
      %li
        %span.filter.active{"data-filter" => "bcf iobc"} All
      %li
        %span.filter{"data-filter" => "bcf"} Bandung Coffe Festival
      %li
        %span.filter{"data-filter" => "iobc"} IOBC
    .clear
    #portfoliolist{:style => ""}
      .wrapper
        .portfolio.bcf.mix_all{"data-cat" => "bcf", :style => " "}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic12.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic13.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic14.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic15.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .portfolio.iobc.mix_all{"data-cat" => "iobc", :style => "  display: inline-block; opacity: 1;"}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic16.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .portfolio.bcf.mix_all{"data-cat" => "bcf", :style => "  display: inline-block; opacity: 1;"}
          .portfolio-wrapper
            %a{:href => "#"}
              %img{:alt => "Image 2", :src => "/assets/pic17.jpg"}/
            .links
              %h4
                %a{:href => ""} Lorem ipsum dolor sit amet
              %p.img
                %img{:alt => "", :src => "/assets/likes.png", :title => "likes"}>/
                12
              .clear
              %ul
                %li
                  %a{:href => "#"}
                    %span December 14, 2013
        .clear
