<div class="banner">
  <div class="wrap">
    <h2>Gallery</h2> <div class="clear"></div>
  </div>
</div>

<div class="main">
  <div class="portfolio-top">
    <div class="wrap">
      <h3>Welcome to the first ever Bandung Coffee Festival</h3>
      <h5>The Bandung Coffee Festival celebrates West Java’s bustling and vibrant coffee scene. Its is a show dedicated to celebrating all that's new and exciting on the Coffee landscape.</h5>
    </div>
  </div>
  <div class="container">
    <ul id="filters" class="clearfix">
      <li><span class="filter active" data-filter="app card icon logo web">All</span></li>
      <li><span class="filter" data-filter="app">Website</span></li>
      <li><span class="filter" data-filter="card">Logo</span></li>
      <li><span class="filter" data-filter="icon">UI Kit</span></li>
      <li><span class="filter" data-filter="logo">Photo</span></li>
      <li><span class="filter" data-filter="web">App Design</span></li>
    </ul>
    <div class="clear"></div>
    <div id="portfoliolist" style="" class="">
      <div class="wrapper">
        <div class="portfolio logo1 mix_all" data-cat="logo" style=" ">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic12.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><a href="#"><span>December 14, 2014</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio app mix_all" data-cat="app" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic13.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><a href="#"><span>December 14, 2014</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio web mix_all" data-cat="web" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic14.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
                <ul>
                  <li><a href="#"><span>December 14, 2014</span></a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="portfolio card mix_all" data-cat="card" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic15.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><a href="#"><span>December 14, 2014</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio app mix_all" data-cat="app" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic16.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><a href="#"><span>December 14, 2014</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio card mix_all" data-cat="card" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic17.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><a href="#"><span>December 14, 2014</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio card mix_all" data-cat="card" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic18.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
                <ul>
                  <li><span><a href="#">December 14, 2014</a></span></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="portfolio logo1 mix_all" data-cat="logo" style=" ">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic19.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul>
                <li><span><a href="#">December 14, 2014</a></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio app mix_all" data-cat="app" style="  display: inline-block; opacity: 1;">
          <div class="portfolio-wrapper">
            <a href="#">
              <img src="/assets/pic20.jpg" alt="Image 2">
            </a>
            <div class="links">
              <h4><a href="">Lorem ipsum dolor sit amet</a></h4>
              <p class="img"><img src="/assets/likes.png"  title="likes" alt=""/>12</p>
              <div class="clear"></div>
              <ul><li><span><a href="#">December 14, 2014</a></span></li></ul>
            </div>
          </div>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>